<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div *ngIf="TradeList.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
    <thead>
		  <tr class = "heading">
			<th scope="col">Trade Id</th>
			<th scope="col">Company Name</th>
      <th scope="col">Amount</th>
			<th scope="col">Price</th>
			<th scope="col">Purchase Date</th>
    	<th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trader of TradeList">
			<td>{{trader.id}}</td>
			<td>{{trader.stockTicker}}</td>
			<td>{{trader.volume}}</td>
      <td>{{trader.price}}</td>
      <td>{{trader.createdTimestamp}}</td>
			<td>
			  <a [routerLink]="" class="btn btn-danger btn-sm float-right">Sell</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
