


<!-- <a [routerLink]="" (click)="buyTrade(trader.id)" class="btn btn-primary btn-sm float-right">Buy</a>&nbsp; -->


<!-- Page content -->
<div class="main">

<!-- Side navigation -->


<div class="container">
  <div class="sidenav">
    <div class="img-container">
      <img src="https://bitbucket.org/RebeccaMeagher/tradingui/raw/dcae97d1b10109c279de40cfdba2e2256e146ae3/src/assets/logo.jpg" height=100px>
    </div>
    <a href="http://trading-angular-trading-hackathon.emeadocker61.conygre.com/stock-buy">Current Holdings</a>
    <a href="http://trading-angular-trading-hackathon.emeadocker61.conygre.com/stock-sell">Sell Stock</a>
    <a href="#">Buy Stock</a>
    <a href="http://trading-angular-trading-hackathon.emeadocker61.conygre.com/stock-history">Order History</a>
  </div>
  <!--<h2>Wildcard Trading Platform</h2>-->
  <div class="img-container">
    <img src="https://bitbucket.org/RebeccaMeagher/tradingui/raw/dcae97d1b10109c279de40cfdba2e2256e146ae3/src/assets/Capture.JPG">
  </div>
  <br>
  <router-outlet></router-outlet>
<div>

</div>
