th {
  text-align: center;
}

td {
  text-align: center;
}

tr {
  background-color: rgb(214, 218, 218);
}

td:hover {
  background-color: rgb(233, 232, 232);
}

tr:hover {
  background-color: rgb(189, 196, 196);
}

.heading{
  background-color: rgb(172, 172, 172);
}
