<!-- Shippers list table, it hides when there is no shipper -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="col-md-12">
	  <table class="table table-bordered">

    <thead>
		  <tr class = "heading">
			<th scope="col">Trade Id</th>
			<th scope="col">Company Name</th>
      <th scope="col">Date</th>
			<th scope="col">Dividend</th>
		  </tr>
		</thead>
		<tbody>
			<td>1</td>
			<td>Amazon</td>
			<td>19/09/2021</td>
      <td>0.03</td>
		</tbody>
    <tbody>
			<td>2</td>
			<td>Amazon</td>
			<td>20/09/2021</td>
      <td>0.03</td>
		</tbody>
    <tbody>
			<td>3</td>
			<td>Amazon</td>
			<td>22/09/2021</td>
      <td>0.03</td>
		</tbody>

	  </table>
</div>

<script>
function readvalues(tableRow){
var columns=tableRow.querySelectorAll("td");
for(var i=0;i<columns.length;i++)
console.log('Column '+i+': '+columns[i].innerHTML );
}

function stockNews(tableRow){

}
</script>




