<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div *ngIf="TradeList.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">

    <thead>
		  <tr class = "heading">
			<th scope="col">Trade Id</th>
			<th scope="col">Company Name</th>
			<th scope="col">Status Code</th>
      <th scope="col">Volume</th>
			<th scope="col">Price</th>
			<th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let trader of TradeList" onclick="readvalues(this);">
			<td>{{trader.id}}</td>
			<td>{{trader.stockTicker}}</td>
			<td>{{trader.statusCode}}</td>
      <td>{{trader.volume}}</td>
      <td>{{trader.price}}</td>
			<td>
			  <a [routerLink]="" (click)="buyTrade(trader.id)" class="btn btn-primary btn-sm float-right">Buy</a>&nbsp;
			  <a [routerLink]="" (click)="deleteTrade(trader.id)" class="btn btn-danger btn-sm float-right">Sell</a>
        <button class="btn btn-outline-primary" onclick="window.open('https://finance.yahoo.com/quote/AMZN?p=AMZN&guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAANixdDYISuYCVd6pxUnpXJ6j_1AdZ6Y-Mipgn-K-Qjvv9HwNv1YIv5Q_37pjzdbCDgWq6fyijDmEt9htv8XEwlqVm7bbadgdl-6snKDpz-fkDWWUn1FBVG8BcDVUX1dZHHUwxCOyHJwpgBQLvH9G4YlT-DILzeJHDueMdiwDhKTZ')">News</button>

			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>

<script>
function readvalues(tableRow){
var columns=tableRow.querySelectorAll("td");
for(var i=0;i<columns.length;i++)
console.log('Column '+i+': '+columns[i].innerHTML );
}

function stockNews(tableRow){

}
</script>




